<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.UserAppBangHangOnline"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">

        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>
        <meta-data android:name="com.facebook.sdk.ClientToken" android:value="@string/facebook_client_token"/>

        <service
            android:name=".ultil.FirebaseService.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".view.activity.ProductReviewsActivity"
            android:exported="false" />
        <activity
            android:name=".view.activity.ChatActivity"
            android:exported="false" />

        <activity
            android:name=".view.activity.DetailsOrderActivity"
            android:exported="false" />
        <activity
            android:name=".view.activity.ProductByTypeActivity"
            android:exported="false"
            android:theme="@style/Base.Theme.Yellow" />
        <activity
            android:name=".view.activity.ChangePasswordActivity"
            android:exported="false" />
        <activity
            android:name=".view.activity.OrderActivity"
            android:exported="false" />
        <activity
            android:name=".view.activity.PayActivity"
            android:exported="true" />
        <activity
            android:name=".view.activity.SettingAccountActivity"
            android:exported="true" />
        <activity
            android:name=".view.activity.DetailsProductActivity"
            android:exported="true"
            android:theme="@style/Base.Theme.Yellow" />
        <activity
            android:name=".view.activity.SettingsActivity"
            android:exported="true" />
        <activity
            android:name=".view.activity.CartActivity"
            android:exported="true" />
        <activity
            android:name=".view.activity.SuccessActivity"
            android:exported="true" />
        <activity
            android:name=".view.activity.ResetPasswordActivity"
            android:exported="true" />
        <activity
            android:name=".view.activity.VerificationActivity"
            android:exported="true" />
        <activity
            android:name=".view.activity.ForgotPasswordActivity"
            android:exported="true" />
        <activity
            android:name=".view.activity.SignInActivity"
            android:exported="true" />
        <activity
            android:name=".view.activity.SignUpActivity"
            android:exported="true" />
        <activity
            android:name=".view.activity.MainActivity"
            android:exported="true"
            android:theme="@style/Base.Theme.Yellow"/>

        <activity
            android:name=".view.activity.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges=
                "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>

    </application>
</manifest>